.auto-suggester {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.title {
  font-size: 1.5em;
}

.intro {
  font-size: large;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

form.bodyInput textarea {
  display: block;
  width: 400px;
  height: 200px;
  margin: 0 auto;
}

form.bodyInput textarea {
  display: block;
  width: auto;
}

.outputWrapper {
  margin: 20px;
}
